body{
	
font-family: "Arial", Arial, Serif;
	
color:#000000;
	background-color:#FFE4C4;
	
text-shadow: 1px 1px	#A9A9A9;
	text-align: center;

}



h1 {
	
font-size: 1.3em;
	
text-align: center;
	
text-shadow: 1px 1px #A9A9A9 ;

}


td, th {
    
border: 8px solid #000000;
    
text-align: left;
    
padding: 10px;

}